.header__lang-link {
	text-decoration: underline;
	text-decoration-color: transparent;
	color: white;
	transition: .2s;
}

.header__lang-link:hover {
	text-decoration-color: white;
	cursor: pointer;
}