.intro__section-container {
	width: 100%;
    max-width: 984px;
    padding: 0 48px 92px;
}

@media screen and (max-width: 768px) {
    .intro__section-container {
        padding: 0 24px 88px;
    }
}

@media screen and (max-width: 425px) {
    .intro__section-container {
        padding: 0 16px 64px;
    }
}