.lead {
	display: flex;
	justify-content: center;
}

.lead__container {
	width: 100%;
	max-width: 984px;
	min-width: 406px;
	padding: 0 148px;
	display: flex;
	flex-direction: column;
	align-items: center;
	white-space: pre-line;
}

.lead__title {
	margin: 0;
	text-align: center;
	font-weight: bold;
	font-size: 96px;
	line-height: 104%;
}

.lead__subtitle {
	margin: 0;
	padding: 32px 0 64px;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
	line-height: 120%;
}

.lead__image-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.lead__travel-path {
	position: absolute;
	z-index: 3;
	left: 23px;
	top: 90px;
}

.lead__caption {
	margin: 0;
	padding-top: 8px;
	font-weight: normal;
	font-size: 10px;
	line-height: 140%;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}