.header {
	display: flex;
	justify-content: center;
	padding-bottom: 56px;
	

	border: 1px solid green;
}

.header__container {
	width: 100%;
	max-width: 1184px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border: 1px solid green;
}

.header__logo {
	max-width: 176px;
	max-height: 52px;
}

.header__lang-links {
	display: flex;
	align-self: flex-end;
	font-weight: normal;
	font-size: 24px;
	line-height: 117%;
	text-align: center;
	gap: 18px;

	border: 1px solid green;
}

.header__lang-link {
	text-decoration: none;
	color: white;
}

.header__lang-link:hover {
	text-decoration-line: underline;;
	cursor: pointer;
}