.intro {
	width: 100%;
    display: flex;
    justify-content: center;
}

.intro__section-container {
	width: 100%;
    max-width: 984px;
    padding: 0 48px 92px;
}

.intro__text-container {
	max-width: 690px;
	width: 100%;
}

.intro__title {
	margin: 0;
	padding-bottom: 40px;
	font-weight: bold;
	font-size: 54px;
	line-height: 107%;
}

.intro__text {
	margin: 0;
	padding-bottom: 33px;
	font-weight: normal;
	font-size: 16px;
	line-height: 163%;
}

.intro__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.intro__list-item {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
}

.intro__list-title {
	margin: 0;
	font-weight: bold;
}

.intro__list-text {
	margin: 0;
}

@media screen and (max-width: 768px) {
	.intro {
		padding: 64px 0;
	}
	.intro__title {
		font-size: 32px;
		line-height: 109%;
	}
}